#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur106.cur), auto !important;
    border-bottom: none;
    transition: border-bottom 0.5s ease-in-out;
   
}
#nav:hover{
    border-bottom: 1px solid var(--contrast-color);
}
#nav li{
    margin-left: 2%;
    margin-right: 2%;
    
}

#nav li:first-child{
   margin-right: auto;
   width: 30%;
}
#nav a:hover{
    animation: hoverEffect 1s infinite;

}

a span{
    padding: 1%;
    background-color: var(--tertiary-color);
}

a span:hover {
    
    animation: hoverEffect 1s infinite, backgroundEffect 1s infinite;
  }
  
  @keyframes hoverEffect {
    0% { color: red; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: green; }
    100% { color: blue; }
  }
  @keyframes backgroundEffect {
    0% { background-color: blue; }
    25% { background-color: green; }
    50% { background-color: yellow; }
    75% { background-color: orange; }
    100% { background-color: red; }
  }

#title{
    font-size: 2em;
    font-weight: 700;
   
}
#scroll-watcher{
    height: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--secondary-color);

    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}
@keyframes scroll-watcher{
    to{scale : 1 1;}
}

#profile{

padding-top: 17vh;
padding-left: 3vw;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
height: 100svh;
width: 100%;
gap: 3vh;

}
#profile p{
    width: 50vw;
    text-align: left;
    margin: 2rem;
}
#moses{
    padding-top:4vh ;
    padding-bottom: 4vh;
    padding-left: 7vw;
    padding-right: 7vw;
   margin-right: -1vw;
    border: 3px solid var(--accent-color);

    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur230.cur), auto !important;

    font-size:xx-large;
    font-weight: 500;
    
}

#saruni{
    padding-top:7vh ;
    padding-bottom: 7vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: -5vw;
    border: 3px solid var(--accompany-color);

    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur230.cur), auto !important;

    font-size:xx-large;
    font-weight: 500;
    transition: margin-left 0.5s ease-in-out;
    z-index: 1;
}
#saruni:hover{
    margin-left: 3vw;
}
#work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 40vw;
   height: 80vh;
   

}
  #hobbies {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: -0.1rem;
    position: absolute;
    top: 35%;
    transition: left 2s ease; /* Changed from transform to left */
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    padding: 2%;
}
#hobbies h2{
    font-size: 3rem;
    letter-spacing: -50%rem;
    margin: 0;
    padding: 0;
    
}
#code{
    color: var(--complement-color);
}

.not-visible {
    left: 96.5%;
    transition: left 3s ease;
   
}

.hobbies-visible {
    left: 65%;
    transition: left 3s ease;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project-div {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    opacity: 0; /* Initial state: hidden */
    transform: translateY(50px); /* Initial state: moved down */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
  }
  
  .project-div.visible {
    opacity: 1; /* Final state: visible */
    transform: translateY(0); /* Final state: original position */
  }
  
.project-details{
   
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    margin: 1rem;
    color: var(--contrast-color);
}
.project-image {
    width: 30vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
  }
  
  .project-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
 
  .project-image:hover {
    transform: scale(0.9);
    filter: brightness(0.8);
  }
  .project-image:hover::before {
    opacity: 0.5;
  }
  .project-image a {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-image:hover a {
    opacity: 1;
    filter: none;
    z-index: 1;
  }
  

.project-div a{
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out,transform 800ms;
    
}
.project-div a:hover{
    background-color:var(--primary-color) ;
    transform: translateY(-7px) scale(1.1);
    transition: transform 300ms;
}
.project-div img{
    object-fit: cover;

}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 40svh;
    width: 100%;
   padding-bottom: 3%;
   
 
}
.contact-list{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 2vw;

}
#contact h2{
    width: 30vw;
    height: 90%;
    
  

    display: flex;
    align-items: center;
    justify-content: center;
}

#contact h2:hover {
  
    color: var(--highlight-color);
    border-radius: 10px;
}

#contact h2:hover span {
    animation: winkAnimation 0.5s ease;
    animation: hoverEffect 1s infinite;
    animation: throwEffect 0.1s infinite;
}


@keyframes winkAnimation {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.1); }
    100% { transform: scaleY(1); }
}

.icon {
    margin: 2rem;
    color: var(--contrast-color);
   
   
  }
  
  .icon:hover {
    animation: throwEffect 0.1s infinite;
    
    color: var(--complement-color);

  }
  @keyframes throwEffect {
    0% { transform: rotate(0deg) translateX(-4px) translateX(-4px) scale(0.5); }
    25% { transform: rotate(90deg) translateX(-8px) translateX(-8px) scale(1); }
    50% { transform: rotate(180deg) translateX(-12px) translateX(-12px) scale(1.5); }
    75% { transform: rotate(270deg) translateX(-8px) translateX(-8px) scale(1); }
    100% { transform: rotate(360deg) translateX(-4px) translateX(-4px) scale(0.5); }
  }
  

.span1{
    padding-top: 2px;
    padding-bottom: 2px;
transition: background-color 0.5s ease-in-out;
}
.span2{
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.5s ease-in-out;
}
.span1:hover{
    background-color: var(--accent-color) ;
}
.span2:hover{
    background-color: var(--accompany-color);
}




@media screen and (max-width:800px) {
    #nav{
       
        width: 100%;
        height: 15vh;
        justify-content: space-evenly;
       
    }
  
    #nav li{
        margin: 4px;
        
    }
    
 

    #profile{
        padding-left: 0;
    
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: flex-start;
    margin-bottom: 10%;
    margin-top: 10%;
   
    }
    #profile p{
        width: 75vw;
       
    }
 

   
     #hobbies{
       width: 94%;
       position: relative;
       left: 6%;
       margin-top: 10%;
       margin-bottom: 10%;
       height: 55vw;
     }
    
  
     .hobbies-visible{
        width: 100%;
        position: relative;
     }

   
    
    #projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top:10%;
    }
    .project-div{
        height: 35vh;
    width: 100%;
   
  
    justify-content: center;
    align-items: center;
        
    
    }
    .project-details{
        display: none;
       
    }
    .project-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90%;
    }
   
    
    #contact{
        
        width: 100%;
       
        height: 40vh;
        flex-direction: column;
        justify-content: center;
     
    }
    #contact h2{
        width: 100%;
        height: 20%;
        text-align: center;
    }
    #contact img{
        width: 20vw;
        height: 5vh;
    }
    
    
}