#nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur106.cur), auto !important;
    border-bottom: none;
    transition: border-bottom 0.5s ease-in-out;
   
}
#nav:hover{
    border-bottom: 1px solid var(--contrast-color);
}
#nav li{
    margin-right: 2%;
    
}

#title{
    font-size: 2rem;
   
   
}
#nav li:first-child{
   margin-right: auto;
   width: 30%;
}
#nav a:hover{
    animation: hoverEffect 1s infinite;

}

a span{
    padding: 1%;
    background-color: var(--tertiary-color);
}

a span:hover {
    
    animation: hoverEffect 1s infinite, backgroundEffect 1s infinite;
  }
  
  @keyframes hoverEffect {
    0% { color: red; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: green; }
    100% { color: blue; }
  }
  @keyframes backgroundEffect {
    0% { background-color: blue; }
    25% { background-color: green; }
    50% { background-color: yellow; }
    75% { background-color: orange; }
    100% { background-color: red; }
  }

#scroll-watcher{
    height: 10px;
    width: 90%;
    position: fixed;
    top: 0;
    left: 1%;
    z-index: 1;
    background-color: var(--highlight-color);

    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}
@keyframes scroll-watcher{
    to{scale : 1 1;}
}

#profile{
margin-top: 2%;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
height: 100svh;
width: 100%;
gap: 2rem;

}
#profile p{
    width: 50%;
    text-align: left;
    margin: 2rem;
}
#moses{
    padding-top:1.7rem;
    padding-bottom: 1.7rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
   margin-right: 1.7rem;
    border: 3px solid var(--accent-color);

    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur230.cur), auto !important;

    font-size:xx-large;
    font-weight: 500;
    
}

#saruni{
    padding-top:3.5rem ;
    padding-bottom: 3.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-left: -4rem;
    border: 3px solid var(--accompany-color);

    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur230.cur), auto !important;

    font-size:xx-large;
    font-weight: 500;
    transition: margin-left 0.5s ease-in-out;
    z-index: 1;
}
#saruni:hover{
    margin-left: 3rem;
}

#hobbies {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 5% 10%;
   
    overflow: hidden;
  }
  
  #hobbies h2 {
    font-size: 4rem;
    line-height: 1;
    margin: 0;
    padding: 0.5rem 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    position: relative;
    
  }
  
  
  
  #hobbies h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.5rem;
    height: 2px;
    background-color: #000;
    
  }
  

  #code {
    font-family: 'Courier New', monospace;
    
  }
  
  #hobbies h2:nth-child(odd) {
    align-self: flex-start;
  }
  
  #hobbies h2:nth-child(even) {
    align-self: flex-end;
  }
  
  
#code{
    color: var(--complement-color);
}




#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project-div {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    opacity: 0; /* Initial state: hidden */
    transform: translateY(50px); /* Initial state: moved down */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
  }
  
  .project-div.visible {
    opacity: 1; /* Final state: visible */
    transform: translateY(0); /* Final state: original position */
  }
  
.project-details{
   
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin: 1rem;
    color: var(--contrast-color);
}
.project-image {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
  
  }
  
  .project-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    
  }
  
 
  .project-image:hover {
    transform: scale(0.9);
    filter: brightness(0.8);
  }
  .project-image:hover::before {
    opacity: 0.5;
  }

  .project-image:hover a {
    opacity: 1;
 
  
  }
  

.project-link{
    opacity: 0;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out,transform 800ms,opacity 0.3s ease;
   
    
}
.project-link:hover{
    background-color:var(--primary-color) ;
    transform: translateY(-7px) scale(1.1);
    transition: transform 300ms;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 40svh;
    width: 100%;
   padding-bottom: 3%;
   
 
}
.contact-list{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 2rem;

}
#contact h2{
    width: 30%;
    height: 90%;
    
  

    display: flex;
    align-items: center;
    justify-content: center;
}

#contact h2:hover {
  
    color: var(--highlight-color);
    border-radius: 10px;
}

#contact h2:hover span {
    animation: winkAnimation 0.5s ease;
    animation: hoverEffect 1s infinite;
    animation: throwEffect 0.1s infinite;
}


@keyframes winkAnimation {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.1); }
    100% { transform: scaleY(1); }
}

.icon {
    margin: 2rem;
    color: var(--contrast-color);
   
   
  }
  
  .icon:hover {
    animation: throwEffect 0.1s infinite;
    
    color: var(--complement-color);

  }
  @keyframes throwEffect {
    0% { transform: rotate(0deg) translateX(-4px) translateX(-4px) scale(0.5); }
    25% { transform: rotate(90deg) translateX(-8px) translateX(-8px) scale(1); }
    50% { transform: rotate(180deg) translateX(-12px) translateX(-12px) scale(1.5); }
    75% { transform: rotate(270deg) translateX(-8px) translateX(-8px) scale(1); }
    100% { transform: rotate(360deg) translateX(-4px) translateX(-4px) scale(0.5); }
  }
  

.span1{
    padding-top: 2px;
    padding-bottom: 2px;
transition: background-color 0.5s ease-in-out;
}
.span2{
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.5s ease-in-out;
}
.span1:hover{
    background-color: var(--accent-color) ;
}
.span2:hover{
    background-color: var(--accompany-color);
}




@media screen and (max-width:800px) {
 
    
    #title{
        font-size: 1.8rem;

    }

    #profile{
        padding-left: 0;
       
    flex-direction: column;
  
    margin-top: 15%;
    padding-top: 40%;
   
    }
    #profile p{
        width: 100%;
        padding-left: 1rem;
   
        
    }
 
 

    #moses{
        padding:1.5rem;
       margin-right: 0.5rem;
        
        
    }
    
    #saruni{
        padding:3rem;
        margin-left: 0.5rem;
        
    }
   
     #hobbies{
        margin-top: 35%;
       width: 100%;
       
     }

   
    
    #projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    .project-div{
        height: 30vh;
    width: 90%;
   
  
    justify-content: center;
    align-items: center;
        
    
    }
    .project-link {
    
    padding: 20%;
    background-color: transparent;
        opacity: 1;
        z-index: 1;
        color: transparent;
       
      }
      .project-link:hover{
        background-color:transparent;
     
    }
      
    .project-details{
        display: none;
       
    }
    .project-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90%;
    }
   
    
    #contact{
        
        width: 100%;
       
        height: 40vh;
        flex-direction: column;
        justify-content: center;
     
    }
    #contact h2{
        width: 100%;
        height: 20%;
        text-align: center;
    }
    #contact img{
        width: 4rem;
        height: 4rem;
    }
    
    
}