:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(8, 8, 8, 0.87);
  background-color: #fdfafa;
  --secondary-color: #E6E6FA;
  --tertiary-color: aliceblue;
  --accent-color: rgb(80, 37, 233);
  --primary-color: #fdfafa;
  --accompany-color: rgb(248, 33, 33);
  --contrast-color:black;
  --complement-color: rgb(167, 161, 161);
  --highlight-color:coral;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
  margin: 0;
  padding: 2px;
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
}

* {
  box-sizing: border-box;
}
a{
  color:var(--highlight-color);
  font-weight: 600;
  text-decoration: none;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur106.cur), auto !important;
}
a img{
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur106.cur), auto !important;
  width:3vw;
  height: 5vh;
  
}
p{
  font-weight: 500;
  font-size: large;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(245, 245, 245, 0.87); /* Light text color for dark background */
background-color: #1a1a1a; /* Dark background color */
--secondary-color: rgba(170, 170, 170, 0.281); /* Muted secondary color */
--tertiary-color: #2c3e50; /* Darker shade for tertiary color */
--accent-color: rgb(80, 37, 233); /* Keeping the same accent color for consistency */
--primary-color: #1a1a1a; /* Same as background color */
--accompany-color: rgb(248, 33, 33); /* Keeping the same accompany color */
--contrast-color: white; /* Light contrast color for dark theme */
--complement-color: rgb(88, 88, 88); /* Darker shade for complement color */
--highlight-color: coral; /* Keeping the same highlight color for consistency */

  }
  
}

@media screen and (max-width:800px) {
  body{
    width: 100vw;
  }
  
}